* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: big;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG BOLD.TTF");
  /*这里是字体文件路径*/
}
@font-face {
  font-family: small;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ REGULAR.TTF");
  /*这里是字体文件路径*/
}
.box-a {
  width: 100%;
  height: 1.14rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
  background: -webkit-linear-gradient(-45deg, #01bad4, #4a90e2);
}
.box-a ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.box-a ul li:nth-child(1) img {
  width: 0.22rem;
  height: 0.38rem;
}
.box-a ul li:nth-child(3) img {
  width: 0.33rem;
  height: 0.33rem;
}
.box-a ul li:nth-child(2) span {
  font-size: 0.31rem;
  color: white;
  font-family: big;
}
.box-b {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background: #fbfeff;
}
.box-b ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.box-b ul li {
  width: 25%;
  text-align: center;
}
.box-b ul li span {
  font-size: 0.26rem;
  font-family: small;
  color: #cbcbcb;
}
.box-b ul li:nth-child(1) p {
  width: 0.4rem;
  background: #01bad4;
  height: 0.05rem;
  margin-left: 0.75rem;
  margin-top: -0.3rem;
}
.box-b ul li:nth-child(1) span {
  color: #01bad4;
}
.box-c {
  width: 100%;
  height: 2.72rem;
  background: #fbfeff;
  display: flex;
  align-items: center;
}
.box-c ul {
  width: 82%;
  height: 2.72rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-c ul li:nth-child(1) {
  width: 0.5rem;
  height: 1rem;
}
.box-c ul li:nth-child(1) p {
  width: 0.5rem;
  height: 1rem;
  background: #9b9b9b;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.box-c ul li:nth-child(1) p img {
  width: 0.23rem;
  height: 0.38rem;
}
.box-c ul li:nth-child(3) {
  width: 0.5rem;
  height: 1rem;
}
.box-c ul li:nth-child(3) p {
  width: 0.5rem;
  height: 1rem;
  background: #4a90e2;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.box-c ul li:nth-child(3) p img {
  width: 0.23rem;
  height: 0.38rem;
}
.box-c ul li:nth-child(2) {
  width: 4.86rem;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  margin-top: -0.26rem;
}
.box-c ul li:nth-child(2) img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.24rem;
}
.box-c ul li:nth-child(2) p:nth-child(2) {
  margin-top: 0.24rem;
}
.box-c ul li:nth-child(2) p:nth-child(2) span {
  font-family: big;
  font-size: 0.23rem;
}
.box-c ul li:nth-child(2) p:nth-child(3) {
  margin-top: 0.24rem;
}
.box-c ul li:nth-child(2) p:nth-child(3) span {
  font-family: small;
  font-size: 0.23rem;
}
.box-d {
  width: 100%;
  height: 8rem;
  background: #fbfeff;
}
.box-d ul {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
}
.box-d ul li {
  width: 100%;
  height: 2.93rem;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 0.3rem;
}
.box-d ul li p:nth-child(1) {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.2rem 0rem;
  border-bottom: 0.01rem #cbcbcb solid;
}
.box-d ul li p:nth-child(1) span:nth-child(1) {
  font-size: 0.26rem;
  font-family: small;
}
.box-d ul li p:nth-child(1) span:nth-child(2) {
  font-size: 0.22rem;
  font-family: small;
}
.box-d ul li p:nth-child(2) {
  display: flex;
  margin-top: 0.2rem;
}
.box-d ul li p:nth-child(2) span {
  font-size: 0.26rem;
  font-family: small;
}
.box-d ul li p:nth-child(2) span:nth-child(2) {
  display: block;
  margin-left: 0.2rem;
}
.box-d ul li p:nth-child(3) {
  display: flex;
  margin-top: 0.2rem;
}
.box-d ul li p:nth-child(3) span {
  font-size: 0.26rem;
  font-family: small;
}
.box-d ul li p:nth-child(3) span:nth-child(2) {
  display: block;
  margin-left: 0.73rem;
}
.box-d ul li p:nth-child(4) {
  display: flex;
  margin-top: 0.2rem;
}
.box-d ul li p:nth-child(4) span {
  font-size: 0.26rem;
  font-family: small;
}
.box-d ul li p:nth-child(4) span:nth-child(2) {
  display: block;
  margin-left: 0.2rem;
}
