* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: big;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ BOLD.TTF");
  /*这里是字体文件路径*/
}
@font-face {
  font-family: small;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ REGULAR.TTF");
  /*这里是字体文件路径*/
}
#box {
  margin: 0 auto;
  background: #fbfeff;
}
.box {
  width: 100%;
  height: 1.2rem;
  /* background: red; */
  color: white;
  background: -webkit-linear-gradient(-45deg, #01bad4, #4a90e2);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #01bad4, #4a90e2);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #01bad4, #4a90e2);
  /* Firefox 3.6 - 15 */
}
#box {
  background: #fbfeff;
}
#box ul {
  padding: 0.1rem 0.5rem;
}
.one {
  box-sizing: border-box;
  height: 2.8rem;
  margin-top: 0.2rem;
  background: white;
  border-radius: 0.3rem;
  overflow: hidden;
}
.li {
  display: flex;
  height: 2.8rem;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
  border-radius: 0.05rem;
}
.img {
  width: 16rem;
  flex: 1;
}
.img img {
  width: 100%;
  margin-left: 0.2rem;
  margin-top: 0.35rem;
}
.content {
  flex: 3;
  margin-left: 0.5rem;
}
.content p:nth-child(1) {
  margin-top: 0.4rem;
}
.content p:nth-child(1) span:nth-child(1) {
  font-family: big;
  font-size: 0.25rem;
  color: #4A90E2;
}
.content p:nth-child(1) span:nth-child(2) {
  font-family: small;
  font-size: 0.21rem;
  color: #9B9B9B;
}
.content p:nth-child(2) {
  margin-top: 0.18rem;
  font-family: small;
  font-size: 0.22rem;
  color: #4A4A4A;
}
.content p:nth-child(3) {
  margin-top: 0.14rem;
  font-family: small;
  font-size: 0.19rem;
  color: #4A4A4A;
}
.content p:nth-child(4) {
  font-family: small;
  font-size: 0.19rem;
  color: #9B9B9B;
  margin-top: 0.02rem;
}
.content .last {
  margin-top: 0.2rem;
  font-family: small;
  font-size: 0.18rem;
  overflow: hidden;
}
.content .last span:nth-child(2) {
  color: #FC6B7D;
}
.content .last div {
  float: right;
  margin-right: 0.2rem;
}
.imgs {
  width: 100%;
}
.header {
  overflow: hidden;
  width: 100%;
  font-family: big;
  font-size: 0.25rem;
  padding: 0.32rem 0;
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(-45deg, #17CCE6, #4a90e2);
}
.header img:nth-child(1) {
  float: left;
  width: 3%;
  margin-left: 0.3rem;
}
.header span {
  display: inline-block;
}
.header img:nth-child(3) {
  width: 5%;
  float: right;
  margin-right: 0.3rem;
}
.text {
  background: white;
  width: 100%;
  padding: 0.26rem 0 0;
}
.text ul {
  width: 7.1rem;
  list-style: none;
  margin-left: 0.33rem;
  display: flex;
}
.text ul li {
  font-family: small;
  font-size: 0.22rem;
  flex: 1;
  margin-left: 0.4rem;
}
.text ul li p {
  display: inline-block;
  width: 0.39rem;
  height: 0.03rem;
  background: #4A90E2;
  margin-bottom: 0.1rem;
  margin-left: 0.03rem;
  border-radius: 0.5rem;
}
.text ul li:nth-child(1),
.text ul li:nth-child(2),
.text ul li:nth-child(3),
.text ul li:nth-child(4),
.text ul li:nth-child(5) {
  margin-right: 0.3rem;
  margin-left: 0.1rem;
}
.text ul li:nth-child(1) {
  color: #4A90E2;
}
.footer {
  width: 100%;
  font-family: small;
  font-size: 0.2rem;
  color: #9B9B9B;
  text-align: center;
  padding: 0.3rem 0 0.2rem;
}
.footer span:nth-child(1) {
  display: inline-block;
  width: 1.29rem;
  height: 0.02rem;
  background: #9B9B9B;
}
.footer span:nth-child(2) {
  vertical-align: -0.04rem;
  padding: 0 0.2rem;
}
.footer span:nth-child(3) {
  display: inline-block;
  width: 1.29rem;
  height: 0.02rem;
  background: #9B9B9B;
}
