* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: big;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ BOLD.TTF");
  /*这里是字体文件路径*/
}
@font-face {
  font-family: small;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ REGULAR.TTF");
  /*这里是字体文件路径*/
}
.header {
  overflow: hidden;
  width: 100%;
  font-family: big;
  font-size: 0.25rem;
  padding: 0.32rem 0 1rem;
  background: -webkit-linear-gradient(-45deg, #17CCE6, #4a90e2);
}
.header img:nth-child(1) {
  float: left;
  width: 3%;
  margin-left: 0.33rem;
}
.header img:nth-child(2) {
  width: 5%;
  float: right;
  margin-right: 0.33rem;
}
.hospital_name {
  width: 6.86rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -0.73rem;
  border-radius: 0.2rem;
  background: white;
  padding-bottom: 0.7rem;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
}
.hospital_name .over {
  display: inline-block;
  width: 1rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  font-family: big;
  font-size: 0.25rem;
  color: white;
  float: right;
  background: #4A90E2;
  border-radius: 0.1rem;
  margin-right: 0.33rem;
  margin-top: 0.3rem;
}
.hospital_name .p_img {
  margin-top: 0.35rem;
  text-align: center;
}
.hospital_name .p_img img {
  width: 1.58rem;
  height: 1.58rem;
  margin-left: 1.36rem;
}
.hospital_name .name {
  font-family: big;
  font-size: 0.25rem;
  color: #4A90E2;
  text-align: center;
}
.hospital_name .where {
  font-family: small;
  font-size: 0.24rem;
  color: #4A4A4A;
  text-align: center;
  margin-top: 0.3rem;
}
.hospital_name .phone {
  font-family: small;
  font-size: 0.24rem;
  color: #4A4A4A;
  text-align: center;
  margin-top: 0.18rem;
}
.hospital_name .num {
  display: inline-block;
  font-family: small;
  font-size: 0.18rem;
  margin-left: 0.3rem;
  margin-top: 0.67rem;
  float: left;
}
.hospital_name .good {
  display: inline-block;
  font-family: small;
  font-size: 0.19rem;
  margin-right: 0.3rem;
  margin-top: 0.67rem;
  float: right;
}
.hospital_name .good span {
  font-family: big;
  color: #FC6B7D;
}
.in_ {
  width: 6.86rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -0.73rem;
  border-radius: 0.2rem;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
  padding: 0.34rem 0.32rem 0.6rem 0.32rem;
  margin-top: 0.3rem;
}
.in_ .in_one {
  overflow: hidden;
}
.in_ .in_one span {
  float: left;
  font-family: big;
  font-size: 0.23rem;
}
.in_ .in_one img {
  float: right;
  width: 0.16rem;
  height: 0.29rem;
}
.in_ .hr {
  width: 5.4rem;
  height: 0.01rem;
  background: #CBCBCB;
  margin-top: 0.3rem;
  margin-left: 0.68rem;
}
.in_ .in_two {
  color: #4A4A4A;
  font-family: small;
  font-size: 0.23rem;
  margin-top: 0.36rem;
}
.out_ {
  width: 6.86rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  overflow: hidden;
  margin-top: -0.73rem;
  border-radius: 0.2rem;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
  padding: 0.34rem 0.32rem 0.6rem 0.32rem;
  margin-top: 0.3rem;
}
.out_ .out_one {
  overflow: hidden;
}
.out_ .out_one span {
  float: left;
  font-family: big;
  font-size: 0.23rem;
}
.out_ .out_one img {
  float: right;
  width: 0.16rem;
  height: 0.29rem;
}
.out_ .hr {
  width: 5.4rem;
  height: 0.01rem;
  background: #CBCBCB;
  margin-top: 0.3rem;
  margin-left: 0.68rem;
}
.out_ .out_two {
  color: #4A4A4A;
  font-family: small;
  font-size: 0.23rem;
  margin-top: 0.36rem;
}
