@font-face {
  font-family: big;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ BOLD.TTF");
  /*这里是字体文件路径*/
}
@font-face {
  font-family: small;
  /*这里是说明调用来的字体名字*/
  src: url("../font/PINGFANG\ REGULAR.TTF") /*这里是字体文件路径*/;
}
* {
  padding: 0;
  margin: 0;
}
.header {
  height: 1rem;
  background: -webkit-linear-gradient(-45deg, #01bad4, #4a90e2);
}
.header p {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.4rem;
}
.header p span:nth-child(1) {
  padding-left: 0.32rem;
}
.header p span:nth-child(2) {
  font-family: big;
  font-size: 0.28rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.img_ img {
  width: 0.15rem;
  height: 0.25rem;
}
.main {
  width: 6.7rem;
  padding-bottom: 0.5rem;
  margin: 0.92rem auto;
  background: #ffffff;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
}
.main .img {
  text-align: center;
}
.main .img img {
  margin-top: -1rem;
}
.main .img p:nth-child(2) {
  font-family: big;
  font-size: 0.24rem;
  color: #333333;
}
.main .img p:nth-child(3) {
  padding-top: 0.1rem;
  font-family: small;
  font-size: 0.28rem;
  color: #9b9b9b;
}
.main ul {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.main ul li {
  text-align: center;
}
.main ul li span:nth-child(1) {
  color: #9b9b9b;
  font-family: small;
  font-size: 0.22rem;
  display: block;
}
.main ul li span:nth-child(2) {
  margin: 0.3rem 0;
  font-family: big;
  font-size: 0.22rem;
  display: block;
  color: #4a90e2;
}
.main .conter {
  width: 5.26rem;
  margin: 0 auto;
}
.main .conter p:nth-child(1) {
  font-family: small;
  font-size: 0.2rem;
  color: #9b9b9b;
}
.main .conter p:nth-child(2) {
  font-family: small;
  font-size: 0.18rem;
  color: #9b9b9b;
  padding-top: 0.2rem;
  padding-left: 4.3rem;
}
.footer {
  width: 6.69rem;
  height: 5.72rem;
  margin: 0.3rem auto;
  background: #ffffff;
  box-shadow: 0 0.1rem 0.5rem rgba(211, 245, 250, 0.6);
}
.footer .titel {
  padding-top: 0.27rem;
  padding-left: 0.21rem;
  font-family: big;
  font-size: 0.28rem;
  color: #4a90e2;
}
.footer .one {
  margin: 0.25rem 0;
  display: flex;
  text-align: center;
  font-family: big;
  font-size: 0.22rem;
}
.footer .one li {
  flex: 1;
}
.footer .one li:nth-child(1),
.footer .one li:nth-child(7),
.footer .one li:nth-child(8) {
  color: #9b9b9b;
}
.footer .one li:nth-child(2) {
  color: #85b0e9;
}
.footer .one li:nth-child(3),
.footer .one li:nth-child(4),
.footer .one li:nth-child(5),
.footer .one li:nth-child(6) {
  color: #fc6b7d;
}
.footer .forenoon {
  text-align: center;
}
.footer .forenoon ul {
  overflow: hidden;
}
.footer .forenoon ul li:nth-child(1) {
  width: 0.22rem;
  font-size: 0.22rem;
  font-family: big;
  float: left;
  color: #9b9b9b;
  padding-left: 0.3rem;
  margin-top: 0.2rem;
}
.footer .forenoon ul li:nth-child(2) {
  float: left;
  padding-left: 0.7rem;
  text-align: left;
}
.footer .forenoon ul li:nth-child(2) p:nth-child(1) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  font-family: small;
  color: #9b9b9b;
}
.footer .forenoon ul li:nth-child(2) p:nth-child(2) {
  font-size: 0.22rem;
  font-family: small;
  color: #fc6b7d;
  margin-top: 0.2rem;
}
.footer .forenoon ul li:nth-child(2) p:nth-child(3) {
  font-size: 0.22rem;
  font-family: small;
  color: #4a90e2;
  margin-top: 0.2rem;
}
.footer .forenoon ul li:nth-child(3) {
  float: left;
  padding-left: 0.9rem;
  text-align: left;
}
.footer .forenoon ul li:nth-child(3) p:nth-child(1) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  font-family: small;
  color: #9b9b9b;
}
.footer .forenoon ul li:nth-child(3) p:nth-child(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  font-family: small;
  color: #fc6b7d;
}
.footer .forenoon ul li:nth-child(3) p:nth-child(3) {
  font-size: 0.22rem;
  font-family: small;
  color: #4a90e2;
  margin-top: 0.2rem;
}
.footer .forenoon ul li:nth-child(4) {
  float: right;
  padding-right: 0.4rem;
}
.footer .forenoon ul li:nth-child(4) div button {
  width: 1.24rem;
  height: 0.4rem;
  padding: 0.03rem 0.06rem;
  border: none;
  border-radius: 0.1rem;
}
.footer .forenoon ul li:nth-child(4) div:nth-child(1) {
  margin-top: 0.15rem;
  font-size: 0.22rem;
  font-family: small;
}
.footer .forenoon ul li:nth-child(4) div:nth-child(1) button {
  color: #fff;
  background: #9b9b9b;
}
.footer .forenoon ul li:nth-child(4) div:nth-child(2) {
  margin-top: 0.15rem;
  font-size: 0.22rem;
  font-family: small;
}
.footer .forenoon ul li:nth-child(4) div:nth-child(2) button {
  color: #fff;
  background: #fc6b7d;
}
.footer .forenoon ul li:nth-child(4) div:nth-child(3) {
  margin-top: 0.15rem;
  font-size: 0.22rem;
  font-family: small;
}
.footer .forenoon ul li:nth-child(4) div:nth-child(3) button {
  color: #fff;
  background: #4a90e2;
}
.footer .afternoon {
  margin-top: 0.3rem;
  text-align: center;
}
.footer .afternoon ul {
  overflow: hidden;
}
.footer .afternoon ul li:nth-child(1) {
  width: 0.22rem;
  font-size: 0.22rem;
  font-family: big;
  float: left;
  color: #9b9b9b;
  padding-left: 0.3rem;
  margin-top: 0.2rem;
}
.footer .afternoon ul li:nth-child(2) {
  float: left;
  padding-left: 0.7rem;
  text-align: left;
}
.footer .afternoon ul li:nth-child(2) p:nth-child(1) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  font-family: small;
  color: #fc6b7d;
}
.footer .afternoon ul li:nth-child(2) p:nth-child(2) {
  font-size: 0.22rem;
  font-family: small;
  color: #9b9b9b;
  margin-top: 0.2rem;
}
.footer .afternoon ul li:nth-child(2) p:nth-child(3) {
  font-size: 0.22rem;
  font-family: small;
  color: #4a90e2;
  margin-top: 0.2rem;
}
.footer .afternoon ul li:nth-child(3) {
  float: left;
  padding-left: 1.2rem;
  text-align: left;
}
.footer .afternoon ul li:nth-child(3) p:nth-child(1) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  font-family: small;
  color: #fc6b7d;
}
.footer .afternoon ul li:nth-child(3) p:nth-child(2) {
  margin-top: 0.2rem;
  font-size: 0.22rem;
  font-family: small;
  color: #9b9b9b;
}
.footer .afternoon ul li:nth-child(3) p:nth-child(3) {
  font-size: 0.22rem;
  font-family: small;
  color: #4a90e2;
  margin-top: 0.2rem;
}
.footer .afternoon ul li:nth-child(4) {
  float: right;
  padding-right: 0.4rem;
}
.footer .afternoon ul li:nth-child(4) div button {
  width: 1.24rem;
  height: 0.4rem;
  padding: 0.03rem 0.06rem;
  border: none;
  border-radius: 0.1rem;
}
.footer .afternoon ul li:nth-child(4) div:nth-child(1) {
  margin-top: 0.15rem;
  font-size: 0.22rem;
  font-family: small;
}
.footer .afternoon ul li:nth-child(4) div:nth-child(1) button {
  color: #fff;
  background: #fc6b7d;
}
.footer .afternoon ul li:nth-child(4) div:nth-child(2) {
  margin-top: 0.15rem;
  font-size: 0.22rem;
  font-family: small;
}
.footer .afternoon ul li:nth-child(4) div:nth-child(2) button {
  color: #fff;
  background: #9b9b9b;
}
.footer .afternoon ul li:nth-child(4) div:nth-child(3) {
  margin-top: 0.15rem;
  font-size: 0.22rem;
  font-family: small;
}
.footer .afternoon ul li:nth-child(4) div:nth-child(3) button {
  color: #fff;
  background: #4a90e2;
}
